#code {
    width: 700px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
}

#code a {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #555;
    transition: color .2s;
}

#code a:hover {
    color: #00ffff;
}