#wrapper {
    position: absolute;
    width: 800px;
    text-align: center;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, 0);
}

#wrapper a.info {
    height: 100px;
    line-height: 100px;
    font-size: 2rem;
    color: #555;
    transition: border-bottom .2s;
}

#wrapper a.info:hover {
    border-bottom: 3px solid #555;
}